body {
    background-color: #5a3d3c; /* Dark brown background */
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: rgb(75, 46, 46) !important; /* Change this to any color */
}


.hero {
    padding: 80px 0;
    background-color: #432828;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.hero-img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-custom {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: white;
    color: black;
}
